__pycache__
.vscode
build
dist
venv
venv32
backup.gz
Carina.backup
Carina.backup.gz
token.pickle
backup/credenciales/
apiazul.ico
apirojo.ico
api.ico
credentials_Dany.json
requirements1.txt
debug.log
prueba.json